version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    environment:
      - OLLAMA_BASE_URL=http://host.docker.internal:11434

  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.app
    command: streamlit run app/streamlit_app.py --server.address=0.0.0.0
    ports:
      - "8501:8501"
    depends_on:
      - api
